@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&family=Prata&display=swap');

*{
    box-sizing: border-box;
}
 body{
    font-family: "BBH Sans Bogle",'Outfit', sans-serif;
 }
.imageCover{
    z-index: -1;
}

.button{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    padding: 20px 40px;
    background-color: yellow;
}